body {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.appWrapper {
    position : absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.appHeader {
    width: 100%;
    height: 64px;
    background-color: #f7f7f7;
}

.appHeaderBorder {
    width: 100%;
    height: 1px;
    background-color: #4f4f4f;
}

.appHeaderTitle {
    position : absolute;
    left: 0px;
    top: 20px;
    width: 100%;
    height: 44px;
    font-family:'Hiragino Kaku Gothic Pro','Meiryo';
    font-size:18px;
    font-weight:normal;
    color:#4f4f4f;
    text-align:center;
    line-height: 44px;
    vertical-align: middle;
}

.appHeaderBackButton {
    position : absolute;
    left: 0px;
    top: 20px;
    width: 100%;
    height: 44px;
    font-family:'Hiragino Kaku Gothic Pro','Meiryo';
    font-size:18px;
    font-weight:normal;
    text-align:left;
    line-height: 44px;
    vertical-align: middle;
}

.linkBackButtonText {
    text-decoration: none;
}

#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#floating-panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    width: 350px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}
#latlng {
    width: 225px;
}

#map {
    /* height: 960px; */
    height: calc(100% - 64px);
}

/* スコア画面 */
.scoreCellColl {
    width: 100%;
    height: 64px;
    font-family:'Hiragino Kaku Gothic Pro','Meiryo';
    font-size:16px;
    font-weight:normal;
    color:#4f4f4f;
    line-height: 20px;
    vertical-align: middle;
    flex: 1;
}

.scoreCell {
    width: 100%;
    height: 64px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.scoreTextScore {
    text-align:right;
}

.nameTextBox {
    font-family:'Hiragino Kaku Gothic Pro','Meiryo';
    font-size:16px;
    font-weight:normal;
    color:#4f4f4f;
}
